<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-image: url('https://cnet2.cbsistatic.com/img/ZfL4WRuKv3LxnxKSAL4UJVHyysg=/940x0/2019/07/29/6109b01f-e32f-457d-9533-cd55b68ba5ba/d6j9ongwaam4yrm.png');
background-repeat: no-repeat;
background-size: cover;">
    <div style="position: fixed; left: 40%; top: 39%;">
    <form method ="POST">
        {%csrf_token%}
        <input type="text" name="username" style="margin-left: 50px;  margin-top: -50px; border: none; height: 30px; text-align: center;" placeholder="Enter Github Username" required> <br><br>
        <button type="submit" style="text-align: center; margin-left: 100px; color: white; background-color: black; border-color: aqua; height: 30px;">Get Info</button>
    </form>
    {% if ur %}
    <h4 style="color: rgb(253, 34, 34); margin-left: 70px;">{{ur}}</h4>
{% endif %}
    </div>

   
</body>
</html>